.dropdownpage-css {
  position: relative;
  display: inline-block;
  cursor: pointer;
  padding: 20px;
  border: 1px solid;
  border-radius: 4px;
  font-size: 16px;
}

.chevron {
  padding-left: 10px;
}

.options {
  padding-top: 10px;
}


.sidebar-links {
  display: flex;
  flex-direction: column; 
}

/* how to cover the background?? */
.modal {
  position: fixed; 
  top: 50%; 
  left: 50%;
  background-color: white;
  box-shadow: 0 2px 10px gray;
  padding: 10px;

}

.sidebar-links {
  background-color: #f4f4f4;
  padding: 20px;
  width: 200px; 
  border-right: 1px solid #ccc;
}

.sidebar-links a{
  display: block;
  padding: 10px;
  color: #333;
  text-decoration: none; 
  margin-bottom: 10px;
  transition: background-color 0.3s;
}

.sidebar-links a:hover {
  background-color: #ddd;
}
